#!/bin/bash

# Dossier du modèle aux yeux du Makefile du dossier de conception
modelFolder=../animUML/conceptionGenerale
# Chemin vers l'emplacement où l'on souhaite générer les fichiers LaTeX
outputFolder="sections/2.ConceptionGenerale"
# Nom du fichier LaTeX "parent" à générer (il appellera les autres fichiers LaTeX de la section autogénérée)
texFilename="conceptionGenerale.tex"



# Tableau des classes à ne pas générer dans la section classes du rapport (les éventuelles MAE associées seront aussi masquées)
# Note : pour ajouter un élément après le premier, penser au +=" ..."
classList="Tester"



# Tableau associatif des machines à états et de leur classe
# Note : bien ajouter un espace à partir du deuxième élément de la liste, et penser au += "..." sans oublier l'espace
stateMachinesPerClass[Alice]="Alice"
stateMachinesPerClass[Bob]="Bob"

# Tableau des CUs de la spécification (sous leur nom tel qu'il apparaît dans le dossier de spécification)
ucs=(
    "Hello Alice et Bob" #0
)

# Tableau associatif des diagrammes de séquence à leur CU. Remplacer les espaces par des _ par rapport au fichier html
sequenceDiagramsPerUC[${ucs[0]}]="Hello_Alice_et_Bob"

# Tableau des types redéfinis par rapport à des types primitifs afin de générer un fichier LaTeX pour chacun d'eux
types="Step"
types+=" Hour"
types+=" Minute"
types+=" Value"
types+=" Power"
types+=" Temperature"